doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/ie10-viewport-bug-workaround.css')
    link(rel='stylesheet', href='/stylesheets/signin.css')
    script(src='/javascripts/jquery-1.12.0.min.js')
    script(src='/dist/js/bootstrap.min.js')
    script(src='/javascripts/jquery-validate.bootstrap-tooltip.js')
    script(src='/javascripts/ie-emulation-modes-warning.js')
  body
    block content
